<div class="row">
  <h3>Channel Name : <strong><%= @channel.name %></strong></h3>
</div>

<div class="row">
  <div class="span6"> <h3>Chat Messages <span>On : <%= Time.now.strftime("%d %h %Y") %> </span></h3></div>
  <div class="span3"> <%= link_to "EXIT CHAT ROOM", exit_chatroom_channel_chats_path(@channel), class: "pull-right btn" %></div>
</div>
<div class="row chat-container" id="chat-messages">
</div>

<div class="row chat-form">
  <%= form_tag("/channels/#{params[:channel_id]}/chats", method: :post, remote: true) do %>
    <%= text_area_tag :message, "" %>
    <%= submit_tag "Send" %>
  <% end %>
</div>

<%= content_for :online_users do %>
  <div class="span3">
    <div class="well sidebar-nav">
      <h3><%= @channel.name %> Channel Users List</h3>
      <ul class="nav nav-list">
        <% @channel.members.each do |member| %>
          <li><%= link_to member, "#" %></li>
        <% end %>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
<% end %>

<%= content_for :custom_javascript do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var $eventSource  = new EventSource("/channels/<%= @channel.id %>/chats/chat");
      var $chatMessages = $("#chat-messages");
      var $message      = $("#message");
      var $username     = "<%= current_user.id %>";
      var $responseMessage;
      var $user;
      var $alignClass;

      $eventSource.addEventListener('push-message', function (e) {
        $responseMessage = JSON.parse(e.data);

        if($responseMessage.username == $username) {
          $user       = "You";
          $alignClass = "pull-left";
        }
        else {
          $user       = $responseMessage.username;
          $alignClass = "pull-right";
        }

        $("<div class='span7 clear "+$alignClass+"'> \
            <p class='"+$responseMessage.bg_color+"'> \
              <span class='time'>["+$responseMessage.time+"] </span> \
              <span class='chat-username'>"+$user+" : </span> \
              "+$responseMessage.message+" \
            </p> \
           </div>")
          .hide()
          .appendTo($chatMessages)
          .fadeIn(1000);
        $chatMessages.animate({ scrollTop : $chatMessages.prop("scrollHeight") - $chatMessages.height() }, 500);
        $message.val("");
      });
    });
  <% end %>
<% end %>
