<div class="row">
  <h3>Channel Name : <strong><%= @channel.name %></strong></h3>
</div>

<div class="row">
  <h3>Chat Messages</h3>
</div>
<div class="row chat-container" id="chat-messages">
</div>

<div class="row chat-form">
  <%= form_tag("/channels/#{params[:channel_id]}/chats", method: :post, remote: true) do %>
    <%= text_area_tag :message, "" %>
    <%= submit_tag "Send" %>
  <% end %>
</div>

<%= content_for :online_users do %>
  <div class="span3">
    <div class="well sidebar-nav">
      <h3><%= @channel.name %> Channel Users List</h3>
      <ul class="nav nav-list">
        <% @channel.members.each do |member| %>
          <li><%= link_to member, "#" %></li>
        <% end %>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
<% end %>

<%= content_for :custom_javascript do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var eventSource = new EventSource("/channels/<%= @channel.id %>/chats/chat"), message;
      eventSource.addEventListener('push-message', function (e) {
        message = JSON.parse(e.data);
        $("<p class='"+message.bg_color+"'><span class='chat-username'>"+message.username+" : </span>"+message.message+"</p>")
        .hide()
        .appendTo($("#chat-messages")).fadeIn(1000);
        $("#message").val("");
      });
    });
  <% end %>
<% end %>
