<div class="row">
  <h3>Channel Name : <strong><%= @channel.name %></strong></h3>
</div>

<div class="row">
  <h3>Chat Messages</h3>
</div>
<div class="row chat-container" id="chat-messages">
</div>

<div class="row chat-form">
  <%= form_tag("/channels/#{params[:channel_id]}/chats", method: :post, remote: true) do %>
    <%= text_area_tag :message, "" %>
    <%= submit_tag "Send" %>
  <% end %>
</div>


<%= content_for :custom_javascript do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var eventSource = new EventSource("/channels/<%= @channel.id %>/chats/chat"), message;
      eventSource.addEventListener('push-message', function (e) {
        message = JSON.parse(e.data);
        $("#chat-messages").append($('<p>').text(message.message));
      });
    });
  <% end %>
<% end %>
